<footer>
    <section>
        <i class="fas fa-credit-card"></i>
        <h3 class="pagos">Paga con tarjeta o efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <i class="fas fa-gift"></i>
        <h3 class="pagos">Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section><i class="fas fa-user-shield"></i>
        <h3 class="pagos">Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
    </section>
    <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>