<header>
    <div class="header-top">
        <img  class="logo" src=.\images\logo-mercado-liebre.svg alt="imagen logo">

        <form method="get" action="/">
            <div class="barra-lupa">
            <input class="barra" type="search" name="busqueda" placeholder="Buscar productos, marcas ..">
            <button class="lupa" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <div>
            <h3 class="compra">
                <i class="fas fa-hand-holding-usd">               
        </i> Compra en cuotas y sin tarjeta de crédito
            </h3>
        </div>
    </div>

    <div class="botom-bar">
        <nav class="menu1">
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="menu2">
            <ul type="none">
                <li><a href="register">Creá tu cuenta <i class="far fa-id-card"></i></li></a>
                <li><a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></li></a>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></li></a>
            </ul>
        </nav>
    </div>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>
