<!DOCTYPE html>
<html lang="en">

<head>
    <!--charset -->
    <meta charset="UTF-8">
    
    <!--medida viewport -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    
    <title>Mercado Liebre</title>

     <!--vinculacion normalize -->
    <link href="/css/normalize.css" rel="stylesheet">
   
    <!-- vinculacion css -->
    <link href=".\css\styles.css" rel="stylesheet">
    <link href=".\css\register-login.css" rel="stylesheet">
    
    <!-- añadir fuente de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <!-- añadir iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/6d5db1da77.js" crossorigin="anonymous"></script>
</head>