<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <img src=.\images\logo-mercado-liebre.svg alt="imagen logo">
        <h3>Lugar para la barra de busqueda</h3>
        <h3>Compra en cuotas y sin tarjeta de crédito</h3>
        <nav>
            <ul>
                <a href=#>
                    <li>Ofertas</li>
                </a>
                <a href=#>
                    <li>Tiendas Oficiales</li>
                </a>
                <a href=#>
                    <li>Vender</li>
                </a>
                <a href=#>
                    <li>Ayuda</li>
                </a>
                <a href=#>
                    <li>Creá tu cuenta</li>
                </a>
                <a href=#>
                    <li>Ingresá</li>
                </a>
                <a href=#>
                    <li>Mis compras</li>
                </a>
            </ul>
        </nav>
        <section>
            <img src=".\images\img-home-banner.jpg">
            <h2> Basada en tu ultima visita</h2>
            <img src=".\images\img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><strong>Cafetera Moulinex </strong></p>
            <br>
            <img src=".\images\img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p><strong>MacBook Pro 2019</strong></p>
            <br>
            <img src=".\images\img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p><strong>Samsung Galaxy S10</strong></p>
            <br>
            <img src=".\images\img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
            <br>
        </section>
        <br>
        <section>
            <h2> Seccion de Ofertas</h2>
            <img src=".\images\img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
            <br>
        </section>
    </header>
</body>

</html>