<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--charset -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <!--medida viewport -->
    <title>Mercado Liebre</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <!--vinculacion normalize -->
    <link href=".\css\styles.css" rel="stylesheet">
    <!-- vinculacion css -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- añadir fuente de google -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/6d5db1da77.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
        <div class="header-top">
            <img class="logo" src=.\images\logo-mercado-liebre.svg alt="imagen logo">

            <div class="barra-lupa">
                <input class="barra" type="search" name="busqueda" placeholder="Buscar productos, marcas ..">
                <button class="lupa" type="submit"><i class="fas fa-search"></i></button>

            </div>
            <div>
                <h3 class="compra">
                    <i class="fas fa-hand-holding-usd">               
            </i> Compra en cuotas y sin tarjeta de crédito
                </h3>
            </div>
        </div>

        <div class="botom-bar">
            <nav class="menu1">
                <ul type="none">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="menu2">
                <ul type="none">
                    <li><a href="#">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href="#">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <img class="banner" src=".\images\img-home-banner.jpg ">

    <main>
        <h2 class="titulares"> Basada en tu ultima visita</h2>
        <section>
            <article>
                <div class="caja-articulo">
                    <img src=".\images\img-cafetera-moulinex.jpg ">
                    <div class="truck-container">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precios">$6.770</p>
                    <p class="desc-visita">40% OFF</p>
                    <p class="descrip"><strong>Cafetera Moulinex </strong></p>
                </div>
            </article>
            <article>
                <div class="caja-articulo">
                    <img src=" .\images\img-macbook-pro-2019.jpg">
                    <div class="truck-container">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precios">$230.000</p>
                    <p class="desc-visita">20% OFF</p>
                    <p class="descrip"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
            <article>
                <div class="caja-articulo">
                    <img src=" .\images\img-samsung-galaxy-s10.jpg">
                    <div class="truck-container">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precios">$70.500</p>
                    <p class="desc-visita">10% OFF</p>
                    <p class="descrip"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>
            <article>
                <div class="caja-articulo">
                    <img src=".\images\img-tv-samsung-smart.jpg">
                    <div class="truck-container">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precios">$23.200</p>
                    <p class="desc-visita">5% OFF</p>
                    <p class="descrip"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </section>
        <section>
            <h2 class="titulares">Sección de Ofertas</h2>
            <article>
                <div class="caja-articulo">
                    <img src=".\images\img-cafetera-moulinex.jpg">
                    <div class="truck-container">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precios">$ 6.770</p>
                    <p class="desc-ofertas">40% OFF</p>
                    <p class="descrip"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>
            <article>
                <div class="caja-articulo">
                    <img src=" .\images\img-macbook-pro-2019.jpg">
                    <div class="truck-container">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precios">$ 230.000</p>
                    <p class="desc-ofertas">20% OFF</p>
                    <p class="descrip"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
            <article>
                <div class="caja-articulo">
                    <img src=" .\images\img-samsung-galaxy-s10.jpg">
                    <div class="truck-container">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precios">$ 70.500</p>
                    <p class="desc-ofertas">10% OFF</p>
                    <p class="descrip"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>
            <article>
                <div class="caja-articulo">
                    <img src=" .\images\img-tv-samsung-smart.jpg">
                    <div class="truck-container">
                        <i class="fas fa-truck"></i>
                    </div>
                    <p class="precios">$ 23.200</p>
                    <p class="desc-ofertas">5% OFF</p>
                    <p class="descrip"><strong>Smart TV Samsung 43" </strong></p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3 class="pagos">Paga con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h3 class="pagos">Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section><i class="fas fa-user-shield"></i>
            <h3 class="pagos">Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>