<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <img  class="banner" src=".\images\img-home-banner.jpg "> 
    
        <main>
            <h2 class="titulares"> Basada en tu ultima visita</h2>
            <section class="bloque-articulos">
                <article>
                    <div class="caja-articulo">
                        <img src=".\images\img-cafetera-moulinex.jpg ">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-oferta">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <p class="descrip"><strong>Cafetera Moulinex </strong></p>
                    </div>
                </article>
                <article>
                    <div class="caja-articulo">
                        <img src=" .\images\img-macbook-pro-2019.jpg">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-oferta">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <p class="descrip"><strong>MacBook Pro 2019</strong></p>
                    </div>
                </article>
                <article>
                    <div class="caja-articulo">
                        <img src=" .\images\img-samsung-galaxy-s10.jpg">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-oferta">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                        </div>
                        <p class="descrip"><strong>Samsung Galaxy S10</strong></p>
                    </div>
                </article>
                <article>
                    <div class="caja-articulo">
                        <img src=".\images\img-tv-samsung-smart.jpg">
                        <div class="truck-container">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-oferta">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                        </div>
                        <p class="descrip"><strong>SmartTv Samsung 43"</strong></p>
                    </div>
                </article>
            </section>
            <section>
                <h2 class="titulares">Sección de Ofertas</h2>
                <section class="bloque-articulos">
                    <article>
                        <div class="caja-articulo">
                            <img src=".\images\img-cafetera-moulinex.jpg">
                            <div class="truck-container">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="precio-oferta">
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% OFF</p>
                            </div>
                            <p class="descrip"><strong>Cafetera Moulinex</strong></p>
                        </div>
                    </article>
                    <article>
                        <div class="caja-articulo">
                            <img src=" .\images\img-macbook-pro-2019.jpg">
                            <div class="truck-container">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="precio-oferta">
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% OFF</p>
                            </div>
                            <p class="descrip"><strong>MacBook Pro 2019</strong></p>
                        </div>
                    </article>
                    <article>
                        <div class="caja-articulo">
                            <img src=" .\images\img-samsung-galaxy-s10.jpg">
                            <div class="truck-container">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="precio-oferta">
                                <p class="precios">$70.500</p>
                                <p class="descuentos">10% OFF</p>
                            </div>
                            <p class="descrip"><strong>Samsung Galaxy S10</strong></p>
                        </div>
                    </article>
                    <article>
                        <div class="caja-articulo">
                            <img src=" .\images\img-tv-samsung-smart.jpg">
                            <div class="truck-container">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="precio-oferta">
                                <p class="precios">$23.200</p>
                                <p class="descuentos">5% OFF</p>
                            </div>
                            <p class="descrip"><strong>Smart TV Samsung 43" </strong></p>
                        </div>
                    </article>
                </section>
            </section>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>