<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <form action="" method="get">
            <label>Nombre de usuari@</label>
            <input type="text" name="usuario">
        </div>
        <div>
            <label>Contraseña</label>
            <input type="password" name="contraseña">
        </div>
        <div class="buttons">
            <button type="submit" class="btnSend">Enviar</button>
        </div>
    </form>
</body>
<%- include('./partials/footer') %>

</html>