<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--charset -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <!--medida viewport -->
    <title>Mercado Liebre</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <!--vinculacion normalize -->
    <link href=".\css\styles.css" rel="stylesheet">
    <!-- vinculacion css -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- añadir fuente de google -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/6d5db1da77.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header-top">
            <img class="logo" src=.\images\logo-mercado-liebre.svg alt="imagen logo">

            <div class="barra-lupa">
                <input class="barra" type="search" name="busqueda" placeholder="Buscar productos, marcas ..">
                <button class="lupa" type="submit"><i class="fas fa-search"></i></button>

            </div>
            <div>
                <h3 class="compra">
                    <i class="fas fa-hand-holding-usd">               
            </i> Compra en cuotas y sin tarjeta de crédito
                </h3>
            </div>
        </div>

        <div class="botom-bar">
            <nav class="menu1">
                <ul type="none">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="menu2">
                <ul type="none">
                    <li><a href="#">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href="#">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <form action="" method="get">
        <div>
            <label>Nombre y apellido:</label>
            <input type="text" name="nombre">
        </div>
        <div>
            <label>Nombre de usuari@</label>
            <input type="text" name="usuario">
        </div>
        <div>
            <label>Fecha de nacimiento</label>
            <input type="date" name="fecha">
        </div>
        <div>
            <label>Domicilio</label>
            <input type="text" name="domicilio">
        </div>
        <div>
            <label>Perfil del usuario</label>
            <select>
            <option> Vender </option>
            <option> Comprar </option>
        </select>
        </div>
        <div>
            <label>Categorías de interés</label>
            <input type="checkbox" name="categoria">
            <option> Hogar </option>
            <option> Electro </option>
        </div>
        <div>
            <label>Foto de perfil</label>
            <input type="file" name="foto">
        </div>
        <div>
            <label>Contraseña</label>
            <input type="password" name="contraseña">
        </div>
        <div>
            <label>Confirmar contraseña</label>
            <input type="password" name="conf-contraseña">
        </div>
    </form>
</body>

</html>