<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <img  class="banner-register" src=".\images\img-home-banner.jpg ">
        <form class="formulario" action="/" method="post">
            <div class="div-form">
                <input placeholder="Nombre y apellido" type="text" name="nombre" minlength="5">
                <span class="feedback"></span>
            </div>
            <div class="div-form">
                <input placeholder="Nombre de usuari@" type="text" name="usuario">
                <span class="feedback" id="feedback"></span>
            </div>
            <div class="div-form">
                <label>Fecha de nacimiento</label>
                <input type="date" name="fecha">
            </div>
            <div class="div-form">
                <input placeholder="Domicilio" type="text" name="domicilio">
            </div>
            <div class="div-form">
                <label class='opcionPerfil'>Perfil del usuario</label>
                <input  type="checkbox" name="perfil">
                    <option> Vender </option>
                    <option> Comprar </option>
            </div>
            <div class="div-form">
                <label>Categorías de interés</label>
                <input  class='interes' type="checkbox" name="categoria">
                <option> Hogar </option>
                <option> Electro </option>
                <option> Moda </option>
                <option> Jugueteria </option>
                <span class="feedback" id="feedback"></span>
            </div>
            <div class="div-form">
                <label>Foto de perfil</label>
                <input type="file" name="foto">
            </div>
            <div class="div-form">
                <input placeholder="Contraseña" type="password" name="contraseña">
                <span class="feedback" id="feedback"></span>
            </div>
            <div class="div-form">
                <input placeholder="Confirmar contraseña" type="password" name="conf-contraseña">
                <span class="feedback" id="feedback"></span>
            </div>
            <div class="buttons">
                <button type="submit" class="btnSend">Enviar</button>
                <button type="reset" class="btnErase">Borrar</button>
            </div>
        </form>
</body>
<%- include('./partials/footer') %>

</html>